<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd
                        http://www.springframework.org/schema/aop
                        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="jackma" class="com.vincent.springaction.demointerface.JackMa">
        <property name="age" value="47"/>
        <property name="name" value="jack ma by xml"/>
        <property name="habit" value="bragging by xml"/>
        <property name="skinColor" value="yellow by xml"/>
    </bean>


<context:component-scan base-package="com.vincent.springaction.demointerface"/>

</beans>